.table {
	width: 80%;
	height: 600px;
	margin: auto;
}

.failure {
	background-color: red;
}

.successful {
	background-color: green;
}

.unknown {
	background-color: inherit;
}

.button {
	background-color: ivory;
	border: 1px solid black;
	border-radius: 20px;
	padding: 8px 10px;
	cursor: pointer;

	i {
		margin-right: 4px;
	}
}

@media only screen and (max-width: 768px) {
	.table {
		display: none;
	}
}
